<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">

    <title>About Us</title>

    <link rel="icon" href="images/fivicon_v2.png" type="image/gif">

    <link rel="stylesheet" type="text/css" href="../../../static/css/style.css">


</head>

<body>
    <div class="wrapper">
        <h1 class="heading">Flipping Books</h1>
        <img src="images/logo_2.png" alt="logo" id="logo_img">
        <div class="menubar">
            <ul>
                <li>
                    <a href="home.html">Home</a></li>
                <li>
                    <a class="active" href="aboutus.html">About Us</a></li>
                <li>
                    <a href="contact.html">Contact</a></li>

                <!-- login/signup /logout/Mylisting active on different pages -->
                <li class="button">
                    <a href="login_page.html"> Login</a></li>
                <li class="button">
                    <a href="signup.html">SignUp</a></li>

                <li class="button">
                    <a href="home.html" id="logout">Logout</a></li>
                <!-- visible only when logged in-->
                <li class="button">
                    <a href="mylisting.html" id="mylisting">MyListing</a></li>
                <!--  visible only when logged in-->

            </ul>
        </div>

        <div class="container_aboutus">
            <img src="images/gallery_1/7.jpg" alt="stack of books" id="aboutus_img">

            <div class="text_aboutus">
                <h1>About Flipping Books</h1>

                <p>
                    Lorem ipsum dolor sit amet, scripta delicata aliquando te mel. An pri graece repudiandae, iudicabit assentior ad his. Cetero impetus in has, sed ad falli indoctum. Ne virtute phaedrum pertinax est, ea has habemus gubergren torquatos. Eam cu quaeque bonorum, cu mel accumsan invidunt invenire.
                </p><br>
                <p>
                    Lorem ipsum dolor sit amet, scripta delicata aliquando te mel. An pri graece repudiandae, iudicabit assentior ad his. Cetero impetus in has, sed ad falli indoctum. Ne virtute phaedrum pertinax est, ea has habemus gubergren torquatos. Eam cu quaeque bonorum, cu mel accumsan invidunt invenire.
                </p>
            </div>
        </div>

    </div>
</body>
</html>