<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">

    <title>MyListing</title>

    <link rel="icon" href="images/fivicon_v2.png" type="image/gif">

    <link rel="stylesheet" type="text/css" href="../../../static/css/style.css">


</head>

<body>

    <div class="wrapper">

        <h1 class="heading">Flipping Books</h1>
        <img src="images/logo_2.png" alt="logo" id="logo_img">

        <div class="menubar">

            <ul>
                <li>
                    <a  href="home.html">Home</a></li>
                <li>
                    <a href="aboutus.html">About Us</a></li>
                <li>
                    <a href="contact.html">Contact</a></li>


                <!-- login/signup /logout/Mylisting active on different pages -->
                <li class="button">
                    <a href="login_page.html"> Login</a></li>
                <li class="button">
                    <a  href="signup.html">SignUp</a></li>
               
                <li class="button">
                    <a href="home.html" id="logout">Logout</a></li><!-- visible only when logged in-->
                <li class="button">
                    <a class="active" href="mylisting.html" id="mylisting">MyListing</a></li>
                <!--  visible only when logged in-->

            </ul>


        </div>




        <!-- main body content  -->
        
         <h1> mylisting </h1>
        
        
       


    </div>

</body>


</html>